[Unit]
Description=R2Course
After=network.service
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/droid_driving_course
ExecStart=/home/pi/droid_driving_course/main.py
Restart=true

[Install]
WantedBy=multi-user.target
