@font-face {
    font-family: StarWars;
    src: url(/static/fonts/Rebellion.otf);
}
@font-face {
    font-family: AureBesh;
    src: url(/static/fonts/Aurebesh.otf);
}

.messageContainer {
  position: fixed;
  width: 100%;
  height: 100%;
}

.specialText {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-family: StarWars;
  font-size: 10vw;
}


canvas {
    z-index: 100;
}

html, body {
        font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
        font-size: 0.9rem;
        color: #fff;
        background: #2a2b36;
      }

table {
        border: 1px solid black;
	border-collapse: collapse;
	margin-left:auto;
        margin-right:auto;
	padding: 3px;
	width: 95%;
}
table tr,td,th{
	border: 1px solid black;
}
tr {
	text-align: center;
}

table.contender_table {
	width: 500px;
}
table.contender_table tr,td,th {
	border: 0px;
}

table.contender_table th {
        font-family: StarWars;

}

.members-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 230px auto 75px;
  grid-template-areas: "logo contender" "members droids" "logs logs";
}

.grid-container {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 230px 220px auto 75px;
  grid-template-areas: "logo contender" "current gates-container" "results results" "logs logs";
}

.admin-container {
	display: grid;
	grid-template-columns: 900px auto;
	grid-template-rows: auto 75px;
	grid-template-areas: "admin-menu admin-config" "logs logs";
}

.gates-container {
	display: grid;
	max-width: 1000px;
	grid-template-columns: repeat(3, 200px);
	grid-gap: 1px;
	grid-area: gates-container;
	margin: 30px;
	margin-top: 75px;
        margin-left:auto;
        margin-right:auto;


	@media (min-width: 150) {
		grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
	}
}

.gate { 
	text-align: center;
	padding: 1px;
	background-color: green;
}
.results { grid-area: results; 
	height: 100%;
	overflow:hidden;
}

table.members tr,td,th {
        text-align: left;
        border: 0px;
}

table.droids tr,td,th {
        text-align: left;
        border: 0px;
}


.members { grid-area: members;
        height: 100%;
        max-height: 500px;
        padding: 2px;
        overflow-y: scroll;
}

.droids { grid-area: droids;
        height: 100%;
        padding: 2px;
        max-height: 500px;
        overflow-y: scroll;
}


.current { grid-area: current; }

.gates { grid-area: gates; }

.logs { grid-area: logs; 
	height: 68px;
	overflow:auto;
}

.logo { grid-area: logo; 
        margin-left:auto;
        margin-right:auto;
}

.contender { grid-area: contender;
	padding: 2px;
}

.card {
        font-family: "Michroma", sans-serif !important;
        margin-bottom: 1.5rem;
}
    
.card:last-child {
        margin-bottom: 0;
}
    
.card-header {
        background: url(/static/images/BGimage.png);
        background-position: center;
        background-size: cover;
        color: #fff;
        font-family: "Michroma", sans-serif !important;
}
