table {
        border: 1px solid black;
	border-collapse: collapse;
	margin-left:auto;
        margin-right:auto;
	padding: 3px;
	width: 95%;
}
table tr,td,th{
	border: 1px solid black;
}
tr {
	text-align: center;
}

table.contender_table {
	width: 500px;
}
table.contender_table tr,td,th {
	border: 0px;
}



.grid-container {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 230px 220px auto 75px;
  grid-template-areas: "logo contender" "current gates-container" "results results" "logs logs";
}

.gates-container {
	display: grid;
	max-width: 1000px;
	grid-template-columns: repeat(3, 200px);
	grid-gap: 1px;
	grid-area: gates-container;
	margin: 30px;
	margin-top: 75px;
        margin-left:auto;
        margin-right:auto;


	@media (min-width: 150) {
		grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
	}
}

.gate { 
	text-align: center;
	padding: 1px;
	background-color: green;
}
.results { grid-area: results; 
	height: 100%;
	overflow:hidden;
}

.current { grid-area: current; }

.gates { grid-area: gates; }

.logs { grid-area: logs; 
	height: 68px;
	overflow:auto;
}

.logo { grid-area: logo; 
        margin-left:auto;
        margin-right:auto;
}

.contender { grid-area: contender;
	padding: 2px;
}
