<!DOCTYPE HTML>
<html>
<head>
        <title>R2 Builders Driving Course</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='w3.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript" src="{{ url_for('static',filename='jquery-1.4.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='socket.io.min.js') }}"></script>
        <script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
                namespace = '/comms';
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

	        // Display log messages at the bottom of the screen
                socket.on('my_response', function(msg) {
                       $('.logs').append('<br>' + $('<div/>').text('Log # ' + msg.data).html());
                });

        });
        </script>
</head>
<body>
	<h1>Admin options</h1>
	<ul>
                <li><a href="/contenders">List (and register) contenders</a></li>
		<li><a href="/admin/clear_db">Clear Runs DB</a></li>
		<li><a href="/admin/refresh/members">Refresh Members List</a> (Must have internet connection)</li>
		<li><a href="/admin/refresh/droids">Refresh Droids List</a> (Must have internet connection)</li>
		<li><a href="/admin/refresh/scoreboard">Force refresh of scoreboard</a></li>
		<li><a href="/admin/upload/runs">Push scores up to MOT site</a></li>
		<li><a href="/run/RESET">Reset run</a></li>
	</ul>
	<div>
		<div class="logs"></div>
	</div>
</body>
</html>


