<!DOCTYPE HTML>
<html>
<head>
	<title>R2 Builders Driving Course</title>

        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static',filename='jquery.dataTables.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='w3.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script type="text/javascript" src="{{ url_for('static',filename='jquery-3.6.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='socket.io.min.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script> 
        <script type="text/javascript" charset="utf-8">
         
        function register(type, uid) {
             var xhttp = new XMLHttpRequest();
             var base_url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port;
             var call_url = base_url + "/" + type + "/" + uid;
             console.log(call_url);

             xhttp.open("GET", call_url, true);
             xhttp.send();
        }

	$(document).ready(function() {


                namespace = '/comms';
		reload_contender();
                //reload_droids();

                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

	        // Display log messages at the bottom of the screen
                
		function reload_contender() {
			$.getJSON("/display/contender",
                               function (json) {
                                       var driver_image;
                                       var droid_image;
                                       var droid_details;
                                       driver_image = "<img src='/static/members/" + json.member_uid + ".jpg' height=200>";
                                       droid_image = "<img src='/static/droids/" + json.droid_uid + ".jpg' height=200>";
                                       droid_details = "<br />";
                                       droid_details += "Weight: " + json.weight + "<br />";
                                       droid_details += "Material: " + json.material + "<br />";
                                       droid_details += "Controls: " + json.transmitter_type + "<br />";
                                       droid_details += "<br />";
                                       $('#driver_image').html(driver_image);
                                       $('#driver_name').html(json.member);
                                       $('#droid_image').html(droid_image);
                                       $('#droid_name').html(json.droid);
                                       $('#droid_details').html(droid_details);
                               });
                        $('#members_table').DataTable();	
		}
 
                function reload_droids() {
                        $.getJSON("/display/droids",
                                function (json) {
                                        var tbody;
                                        var rows = json.length;
                                        tbody = "";
                                        for (var i = 0; i < rows; i++) {
                                                tbody += "<tr>";
                                                tbody += "<td>" + json[i].droid_name;
                                                tbody += " (" + json[i].member_name + ")</td>";
                                                tbody += "<td><input type=button value=Register onclick=\"register('droid', "+ json[i].droid_uid + ")\"></td>";
                                                tbody += "</tr>";
                                        }
                                        $('#droids_body').empty().append(tbody);
                                });

                }

		// Display log messages at the bottom of the screen
		socket.on('my_response', function(msg) {
                       $('.logs').append('<br>' + $('<div/>').text('Log # ' + msg.data).html());
                        $('.logs').scrollTop($('.logs')[0].scrollHeight);
                });

		// Reload the contender area
	        socket.on('reload_contender', function(msg) {
			reload_contender();
                });

                $('#members_table').DataTable( {
                        pagination: "bootstrap",
                        filter:true,
                        ajax: {
                                "url": '/display/members',
                                "dataSrc": ""
                        },
                        destroy: true,
                        lengthMenu:[5,10,25],
                        pageLength: 10,
                        "columns":[  
                                {     "data": "name"     },  
                                {     
                                        "data": "member_uid",
                                        "target": 1,
                                        "searchable": false,
                                        render: function (data, type, row, meta)
                                        {
                                                if (type === 'display')
                                                {
                                                        data = "<input type=button value=Register onclick=\"register('member', " + encodeURIComponent(data) + ")\">"
                                                }
                                                return data;
                                        }
                                } 
                        ]            
                } );

                $('#droids_table').DataTable( {
                        pagination: "bootstrap",
                        filter:true,
                        ajax: {
                                "url": '/display/droids',
                                "dataSrc": ""
                        },
                        destroy: true,
                        lengthMenu:[5,10,25],
                        pageLength: 10,
                        "columns":[  
                                {     "data": "droid_name"     },
                                {     "data": "member_name" },   
                                {     
                                        "data": "droid_uid",
                                        "target": 1,
                                        "searchable": false,
                                        render: function (data, type, row, meta)
                                        {
                                                if (type === 'display')
                                                {
                                                        data = "<input type=button value=Register onclick=\"register('droid', " + encodeURIComponent(data) + ")\">"
                                                }
                                                return data;
                                        }
                                } 
                        ]            
                } );                
}
        );

</script>
</head>
<body>
	<div class="members-grid">
		<div class="logo"><img src="/static/r2_builders_logo.jpeg" height=225></div>
		<div class="contender">
                        <table class=contender_table>
                                <tr>
                                        <td id=driver_image>Driver Image</td>
                                        <td id=droid_image>Droid Image</td>
                                        <td rowspan=2 id=droid_details>Droid Details</td>
                                </tr>
				<tr>
					<td id=driver_name>Name</td>
					<td id=droid_name>Droid Name</td>
				</tr>
                        </table>
                </div>
                <div class="members">
                        <h2>Members</h2>
                        <table id="members_table" class="table table-striped table-bordered">
                                <thead>
                                        <tr>
                                                <td>Name</td>
                                                <td>Register</td>
                                        </tr>
                                </thead>
                                <tbody id="members_body">
                                </tbody>
                        </table>
                </div>
                <div class="droids">
                        <h2>Droids</h2>
                        <table id="droids_table" class="table table-striped table-bordered">
                                <thead>
                                        <tr>
                                                <td>Name</td>
                                                <td>Owner</td>
                                                <td>Register</td>
                                        </tr>
                                </thead>                               
                                <tbody id="droids_body">
                                </tbody>
                        </table>
                </div>
		<div class="logs">
                </div>
	</div>

</body>
</html>


